* {
    font-family: 'Inter', sans-serif;
}

.prime-color {
    background-color: #15803D;
}

.second-color {
    background-color: #FACC15;
}

.dark-text {
    color: #1F2937;
}

.active {
    background-color: #15803D;
    color: white;
}
